@import url('https://fonts.googleapis.com/css?family=Orbitron');

body{
  background: radial-gradient(circle, white, gray);
  background-repeat: no-repeat;
  /*-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
  background-attachment: fixed;
  margin: 0;
}

#game-container{
  position: relative;
  width: 350px;
  height: 350px;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  border-radius: 100%;
  margin-top: 150px;
  margin-bottom: 150px;
  
}

.button{
  width: 155px;
	height: 155px;
  position: absolute;
  /*box-shadow: inset 0 0 5px 5px #333333;*/
  cursor: pointer;
  filter: brightness(80%);
}

#red-button{
  background-color: red;
  top: 15px;
  left: 15px;
  border-top-left-radius: 100%;
  box-shadow: inset 0 0 2px 2px #b30000;
}

#blue-button{
  background-color: blue;
  border-top-right-radius: 100%;
  right: 15px;
  top: 15px;
  box-shadow: inset 0px 0px 2px 2px #0000b3;
}

#yellow-button{
  background-color: yellow;
  border-bottom-right-radius: 100%;
  bottom: 15px;
  right: 15px;
  box-shadow: inset 0px 0px 2px 2px #b3b300;
}

#green-button{
  background-color: green;
  border-bottom-left-radius: 100%;
  left: 15px;
  bottom: 15px; 
  box-shadow: inset 0px 0px 2px 2px #003300;
}

#center{
  font-family: Impact, Charcoal, sans-serif;
  position: relative;
  margin: auto;
  height: 150px;
  width: 150px;
  border-radius: 100%;
  background-color: #d9d9d9;
  top: 90px;
  border: 10px solid black;
  box-shadow: 0 0 2px 2px #1a1a1a;
}

#logo{
  font-size: 2.5em;
  position: relative;
  top: 30px;
  text-align: center;
  color: black;
}

#options-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  top: 35px;
  margin: auto;
  width: 125px;
  background-color: none;
}

.options-text{
    font-size: .75em;
}
#count-container{
  width: 40px;
  height: 25px;
  background-color: black;
  position: relative;
  top: 5px;
  border-radius: 5px;
}

#count-text{
  font-family: 'Orbitron', sans-serif;
  color: red;
  font-size: 1.25em;
  text-align: center;  
  /*padding-top: 5px;*/
  padding-top: -5px;
}

.small-button{
  width: 15px;
  height: 15px;
  margin: auto;
  border-radius: 100%;  
  cursor: pointer;
  box-shadow: 0 2px 2px 2px #888888;
}

#start-container{
  background-color: none;
  width: 40px;
  height: 40px;
  text-align: center;
}

#start-button{
  background-color: red;
  margin-bottom: 5px;
  //box-shadow: inset 0px 0px 2px #660000;
}

#strict-container{
  width: 40px;
  height: 40px;
  background-color: none;
  text-align: center;
}

#strict-items{
  display: flex;
  flex-direction: row;
  background-color: none;
  width: 30px;
  position: relative;
  margin: auto;
}

#strict-light{
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: black;
  position: relative;
  top: 3px;
  border: 1px solid black;
}

#strict-button{
  background-color: yellow;
  margin-bottom: 5px;
  //border: 1px solid yellow;
  //box-shadow: inset 0px 0px 2px #666600;
}
